html{
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, sans-serif, Tahoma, Geneva;
  background-color: rgb(237, 229, 239);
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  background-color: rgba(235, 159, 222, 0.5);

}
footer a{
  text-decoration: none;
  color: #504d4d;
  font-weight: bold;

}

#adcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 7%;
}
#adcontainer #leftside {
  display: flex;
  flex-direction: column;
  width: 500px;
}
#adcontainer #leftside #ad {
  margin-bottom: 5px;
}

.buttoncontainer {
  display: flex;
  align-items:center ;
  justify-content: center;
  color:#2c2a2a ;
  font-size: 17px;
  text-decoration: none;
  width: 150px;
  height: 70px;
  background-color: rgba(235, 159, 222, 0.5);
  border-radius: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttoncontainer:hover {
  background-color: rgba(
    160,
    106,
    151,
    0.5
  );
  transition: background-color 0.5s ease;
}
#adcontainer #rightside img {
  width: 600px;
}
h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 7px;
}
h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 7px;
  color: #2c2a2a;
}
p {
  color: #504d4d;
  font-size: 20px;
  margin: 12px;
}

#infocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 170px;
  background-color: rgba(235, 159, 222, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 70px;
}
.infobox p {
  margin: 7px;
}
#aboutcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5% 7%;
}
#aboutcontainer img {
  width: 500px;
}
.coloredtext {
  color: rgba(224, 123, 207, 0.7);
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
}

#aboutcontainer #about {
  display: flex;
  flex-direction: column;
}

#menucontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5% 7%;
}

#topcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wafflecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0% 0%;
}

.waffle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 40px 10px;
  background-color: white;
  border-radius: 0px 50px;
}
.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 135px;
  height: 60px;
  font-size: 30px;
  color: #2c2a2a;
  background-color: rgba(235, 159, 222, 0.5);
  border-radius: 30px 0px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-self: flex-end;
  justify-content: center;
}
.add-button button{
  border: none;
  font-size: 30px;
  color: #2c2a2a;
  background-color:transparent;
  cursor: pointer;
}
.add-button:hover {
  background-color: rgba(
    160,
    106,
    151,
    0.5
  );
  transition: background-color 0.5s ease;
}
.imgdiv {
  border-radius: 0px 50px 0px 0px;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
#imgdiv1 {
  background-image: url("../resources/fruitwaffle.jpg");
}
#imgdiv2 {
  background-image: url("../resources/belgianwaffles.jpg");
}
#imgdiv3 {
  background-image: url("../resources/gingerbreadwaffle.jpg");
}
#imgdiv4 {
  background-image: url("../resources/chocwaffle.png");
}
#imgdiv5 {
  background-image: url("../resources/heartwaffle.png");
}
#imgdiv6 {
  background-image: url("../resources/strawberrywaffle.jpg");
}
.waffle .imgdiv img {
  height: 250px;
}
.waffle p:first-of-type {
  font-size: 25px;
  font-weight: bold;
}

#toparrowcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 30px;
  font-size: 30px;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-color: rgba(235, 159, 222, 0.5);
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#toparrowcontainer:hover{
  background-color: rgba(
    160,
    106,
    151,
    0.5
  );
  transition: background-color 0.5s ease;
}


@media screen and (max-width: 1090px) {
  header{
    flex-direction: column;
    justify-content: center;
  }
  header #index {
    padding-left: 0px;
  }
  #adcontainer {
    display: flex;
    flex-direction: column;
  }

  #adcontainer #rightside img {
    width: 400px;
  }
  #infocontainer{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
   #aboutcontainer{
    flex-direction: column;
   }
  
  .waffle {
    width: 45%;
  }
}
@media screen and (max-width: 720px) {
  #headerlinks{
    flex-direction: column;
    padding: 0px;
  }
  header{
    height: 400px;
    position: relative;
    gap: 20px;
  }
  header #index {
    font-size: 25px;
    padding-left: 0px;
  }
  .waffle {
    width: 80%;
  }
  #adcontainer #leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
  }
  footer{
    flex-direction: column;
    gap: 10px;
    height: 220px;
  
  }
}


