header {
  position: sticky;
  top: 0;
  background-color: rgba(228, 169, 218, 0.8);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header a.active {
  font-weight: bold;
  font-size: 22px;
  color: #111;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
header img{
  width: 40px;
}
header img:hover{
  width: 50px;
  transition: all 0.5s ease;
}
header a:hover{
  color: #111;
  font-size: 22px;
  transition: all 0.5s ease;
}
header #index {
  font-size: 25px;
  float: left;
  padding-left: 25px;
}
#headerlinks{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  gap: 30px;
}
@media screen and (max-width: 1090px) {
  header{
    flex-direction: column;
    justify-content: center;
  }
  header #index {
    padding-left: 0px;
  }
}
@media screen and (max-width: 720px) {
  #headerlinks{
    flex-direction: column;
    padding: 0px;
  }
  header{
    height: 400px;
    position: relative;
    gap: 20px;
  }
  header #index {
    font-size: 25px;
    padding-left: 0px;
  }

}