body{
    font-family: Geneva, Verdana, sans-serif;
}

img {
    position: absolute; /* Abszolút pozíció */
    top: 0; /* Felülre igazítás */
    right: 0; /* Jobbra igazítás */
    width: 900px; /* A kép szélessége */
    height: 1000px; /* A kép magassága */
}

