
/*csak egy példa formázás*/

body {
    background-color: #FFC0CB; /* Babarózsaszín háttér */
    font-family: Arial; /* Arial betűtípus */
}

form fieldset {
    padding-right: 50px; /* Jobb behúzás */
    padding-left: 50px; /* Bal behúzás */
    padding-top: 20px; /* Felső behúzás */
    padding-bottom: 30px; /* Alsó behúzás */
}


legend {
    text-align: center; /* Középre igazítás */
    font-size: larger; /* Nagyobb betűnagyság */
}

label {
    display: block; /* Az adatok közötti sorköz létrehozása */
    margin-bottom: 10px; /* Tetszőleges sorköz */
}