body {
    font-family: Verdana, sans-serif, Tahoma, Geneva;
    background-color: rgb(237, 229, 239);
    
}
/*csak egy példa formázás*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('resources/waffleregister1.jpg');
    background-size: 1920px 953px;
    filter: blur(4px) brightness(50%);
    z-index: -1;
}


#reg-form {
    background: rgb(237, 229, 239);
    width: 500px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

#reg-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#reg-form input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

#reg-form select {
    width: calc(100% + 4px);
    padding: 5px;
    margin-bottom: 10px;
}

#reg-form textarea {
    width: calc(100% - 8px);
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    background-color: #590e2d;
    border-radius: 15px;
    color: white;
    display: block;
    margin: 10px auto 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #9d56b1;
}