
/*csak egy példa formázás*/

body {
    background-color: #FFC0CB; /* Babarózsaszín háttér */
    font-family: Arial; /* Arial betűtípus */
}

#ad{
    background-image:url(resources/waffles.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15%;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-shadow: 4px 4px 8px #000000;
}