ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eb9fde;
    padding-right: 31px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    float: right;
    font-size: 20px;
  }
  #index{

    
    font-size: 50px;  


    float: left;
    padding-left: 20px;
}
  
  li a:hover {
    background-color: #111;
}


#ad{
    background-image:url(resources/waffles.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15%;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-shadow: 4px 4px 8px #000000;
}